@use '../../../styles/abstracts/index' as a;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: a.$gray-50;
}

.main {
  flex: 1;
  overflow-y: auto;
  padding: a.$spacing-4;
  padding-bottom: 90px;
  margin-left: 0;
}

@include a.bp-devices(tablet) {
  .layout {
    flex-direction: row;
  }

  .main {
    padding: a.$spacing-6;
    padding-top: a.$spacing-6;
    padding-bottom: a.$spacing-6;
    margin-left: 230px;
  }
}

@include a.bp-devices(s-laptop) {
  .main {
    margin-left: 260px;
  }
}