@use '../../styles/abstracts/index' as a;

.library {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  margin-bottom: a.$spacing-6;
}

.title {
  text-transform: capitalize;
  font-size: a.$font-2xl;
  font-weight: 700;
  color: a.$gray-900;
  margin-bottom: a.$spacing-2;
}

.subtitle {
  font-size: a.$font-sm;
  color: a.$gray-600;
}

.tabs {
  display: flex;
  align-items: center;
  gap: a.$spacing-2;
  background-color: #fff;
  border-radius: a.$radius-xl;
  border: 1px solid a.$gray-200;
  margin-bottom: a.$spacing-6;
  box-shadow: a.$shadow-sm;
}

.tab {
  display: flex;
  align-items: center;
  gap: a.$spacing-1;
  padding: a.$spacing-3 a.$spacing-4;
  border-radius: a.$radius-lg;
  background-color: transparent;
  color: a.$gray-600;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background-color: a.$gray-50;
    color: a.$gray-900;
  }

  &.active {
    background-color: a.$primary;
    color: #fff;
  }

  & svg {
    width: 15px;
    height: 15px;
  }
}

.count {
  display: grid;
  place-content: center;
  min-width: 24px;
  height: 24px;
  padding: 0 a.$spacing-2;
  border: 1px solid rgba(a.$primary-light, .2);
  border-radius: 50%;
  background-color: rgba(#fff, .2);
  font-size: a.$font-xs;
  font-weight: 700;
}

@include a.bp-devices(tablet) {
  .header {
    margin-bottom: a.$spacing-8;
  }

  .title {
    font-size: a.$font-3xl;
  }

  .subtitle {
    font-size: a.$font-base;
  }

  .tabs {
    margin-bottom: a.$spacing-8;
  }

  .tab {
    gap: a.$spacing-2;
    font-size: a.$font-sm;
    padding: a.$spacing-3 a.$spacing-5;
  }
}